* {
    margin: 0;
    padding: 0;
      
}
body {
    background-color: #F6F1EB;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr ;
}

.logo-container img {
    width: 30px;
    height: auto;
    padding: 10px;
}

.backgroundpic img { 
    position: absolute;
    top: 30%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
    
}

.frontsite h1 {
    z-index: 1;
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    font-size: 26px;
    height: 600px;
    font-family: 'newyork';
}

.frontsite {
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.mepic img{
    width: 100px;
    
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
   
}

.info h1 {
    font-family: 'newyork';
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 35px;
}

.info p {
    font-family: 'montserrat';
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.info2 {
    font-family: 'montserrat';
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-top: 20px;
}

.projecttext h1 {
    font-family: 'newyork';
    padding-top: 100px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-size: 40px;
}

.contact h1{
    font-family: 'newyork';
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.contact p{
    font-family: 'montserrat';
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-bottom: 50px;
}

.contactlogo {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contactlogo a img {
    width: 90px;
    margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.contactlogo img {
    width: 90px;
    margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.contactsite {
    background-color: #d1cbc4;
   
}

button  {
    display: flex;
    justify-content: center;
    
    border: none;
    text-decoration: none;
    width: 150px;
    padding: 7px;
    margin: auto;
    background-color: #00515a;
    color: white;
    border-radius: 12px;
    font-size: 20px;
    margin: 0;
    height: 35px;
}

button a{
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-family: 'montserrat';
}

/* JavaScript */

.blog h2 {
    color: #FFC0CF;
   
    padding-bottom: 50px;
}
.blog {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-family: 'montserrat';
}
.blog img {
    width: 200px;
}

.websites img {
    width: 100px;
    height: auto;
    padding-top: 20px;
}

.websites {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-bottom: 70px;
    font-family: 'montserrat';
}

@media (min-width: 768px) {
    .frontsite h1 {
        font-size: 100px;
        font-weight: lighter;
    }

    .mepic img{
        padding-top: 150px;
    }

    .blog {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .contact h1 {
        font-size: 60px;
        font-weight: lighter;
    }

    .contactlogo .netlify {
        width: 100px;
    }
    
    .contactlogo .github {
        width: 100px;
    }
}

@media (min-width: 1024px) {
    .mepic img{
        padding-top: 300px;
    }
    .blog {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .info h1 {
        
        font-size: 60px;
    }
    
    .info p {
        font-size: 20px;
    }

    .info2 h2 {
        font-size: 30px;
    }

    .info2 li {
        font-size: 20px;
    }

    .projecttext h1 {
        font-size: 50px;
    }
}

@media (min-width: 1440px) {
    .frontsite h1 {
        font-size: 150px;
    }

    .mepic img{
        padding-top: 700px;
    }
}

@media (min-width: 2560px) {
    .frontsite h1 {
        font-size: 250px;
    }
    .mepic img{
        padding-top: 1500px;
    }
}