* {
    margin: 0;
    padding: 0;
      
}
body {
    background-color: #F6F1EB;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr ;
}

.logo-container img {
    width: 30px;
    height: auto;
    padding: 10px;
}

nav li {
    padding: 5px;
}

.nav-link {
    list-style: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
  
   font-size: 15px;
    display: flex;
    justify-content: center;
    
}

.nav-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

.backgroundpic img { 
    position: absolute;
    top: 30%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
    
}

.frontsite h1 {
    z-index: 1;
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    font-size: 26px;
    font-family: 'newyork';
}

.frontsite {
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.mepic img{
    width: 100px;
    
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
   
}

.info h1 {
    font-family: 'newyork';
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 35px;
}

.info p {
    font-family: 'montserrat';
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.info2 {
    font-family: 'montserrat';
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-top: 20px;
}

.projecttext h1 {
    font-family: 'newyork';
    padding-top: 100px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-size: 40px;
}

.contact h1{
    font-family: 'newyork';
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.contact p{
    font-family: 'montserrat';
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-bottom: 50px;
}

.contactlogo {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contactlogo .netlify {
    width: 90px;
    margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.contactlogo .github {
    width: 90px;
    margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.contactsite {
    background-color: #d1cbc4;
   
}

/* JavaScript */

.blog h2 {
    color: #FFC0CF;
   
    padding-bottom: 50px;
}
.blog {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-family: 'montserrat';
}
.blog img {
    width: 200px;
}

.websites img {
    width: 100px;
    height: auto;
    padding-top: 20px;
}

.websites {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-bottom: 70px;
    font-family: 'montserrat';
}

@media (min-width: 768px) {
    .frontsite h1 {
        font-size: 100px;
        font-weight: lighter;
    }
}